@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');



h1{
    font-family: 'Pangolin', cursive;
}

#loading, #results{
    display: none;
}

footer{
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-family: 'Cedarville Cursive';
}
